.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.input-container {
  display: flex;
  margin-bottom: 10px;
  margin-top: 25px;
}
.input-text {
  padding: 10px 15px;
  border-radius: 8px;
  border-width: 1px;
  font-size: 15px;
  outline: none;
  flex-grow: 1;
}
.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  font-size: 15px;
  padding: 10px 16px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 10px;
}
.robot-display-message {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.user-display-message {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 20px;
  margin-top: 20px;
}
.message-display {
  background-color: #ddd;
  padding: 10px 14px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  max-width: 300px;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}
.img-display {
  width: 35px;
  height: 35px;
}
.message-container {
  flex-grow: 1;
  overflow: scroll;
  scrollbar-width: none;
}
